@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body
{
    font-family: 'Outfit', sans-serif;
    padding: 10px;
    font-size: 20px;
    /* color: white; */
    /* background-color:  #6200EE; */
}
