@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body
{
    font-family: 'Outfit', sans-serif;
    padding: 10px;
    font-size: 20px;
}

.d-flex
{
    background-color: blanchedalmond;
    border-radius: 10px;
    margin-bottom: 10px;
    border-color: black;
    border-width: 5px;
}

button.btn
{
    background-color: black;
    border: black;
}
